@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-color: black !important;
    color: white;
}

.container-lg h1{
    font-family: 'Recursive', sans-serif;
    color: white;
    font-size: 40px;
}

  

.parrafo{
  color: white;
  font-family:'Recursive', sans-serif; 
}
.collapsible{
    font-family:'Recursive', sans-serif;
    font-size: 18px;
}
.media{
   margin: auto;
   padding: 0;
        
    
}

.material-icons{
    font-size: 40px ;
    color: black;
    margin: 10px;
}
.Creador{
    font-family:'Lobster', cursive;
    color: white;
    font-size: 25px;
}